.form-select {
    width: 100px !important;
    border: 2px solid rgb(171, 133, 133);
    margin: 5px 0;
    height: 30px;
    cursor: pointer;
    border-radius: 2px;
    text-transform: capitalize;
}